.hero {
    margin-top: 81.6px;
    padding-top: 50px;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .greeting {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 40px;
            font-weight: 500;

            span.dot {
                color: $accentColor;
                font-size: 60px;
                margin-left: 5px;
            }

            span.name {
                margin-left: 50px;
                font-size: 34px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    right: 110%;
                    bottom: 14px;
                    display: inline-block;
                    width: 500px;
                    height: 3px;
                    background: $accentColor;
                    
                }
            }

            .position {
                    &::before {
                        content: "<";
                        color: $accentColor;
                        margin-right: 5px;
                    }

                    &::after {
                        content: "/>";
                        color: $accentColor;
                        margin-left: 5px;
                    }
                }
        }

        .buttons {
            margin-top: 40px;

            a {
                @include externalLink(18px);
            }
        }
    }

    .photo {
        width: 50%;
        display: flex;

        img {
            max-width: 100%;
            z-index: -100;
            filter: brightness(90%) drop-shadow(0px 0px 100px #ff715bb3);
        }
    }

    @media screen and (max-width: 1024px){
        width: 90%;
    }

    @media screen and (max-width: 992px){
        flex-direction: column;
        width: 100%;

        .greeting {
            width: 100%;
            text-align: center;

            h1 {
                font-size: 30px !important;
                
                span.name{
                    margin: 0 !important;
                    z-index: -100;
                    
                    &::before {
                        display: none !important;
                    }
                }

            }

            .buttons {
                margin-top: 10px;
            }
        }

        .photo {
            width: 100%;
            margin-top: 20px;
        }
    }
}