.skills {
    background: #16232c;
    z-index: 100;

    .skills-container {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .skills-divider {
            width: 50%;
            display: flex;
            justify-content: space-around;

            .skill {
                font-size: 26px;
                padding: 20px;
                color: #444f58;
                font-weight: 400;
                user-select: none;
            }
        }

        @media screen and (max-width: 1024px) {
            width: 90%;
        }

        @media screen and (max-width: 992px) {
            flex-direction: column;
            width: 90%;

            .skills-divider {
                justify-content: space-between !important;
                width: 100% !important;

                .skill {
                    font-size: initial !important;
                }
            }
        }
    }
}
