@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "./variables";
@import "./mixins";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: $siteBgColor;
    font-family: "Nunito", sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, label, a {
    color: $fontColor;
}

::selection {
    color: #fff;
    background: $accentColor
}

@import "./header";
@import "./hero";
@import "./skills";
@import "./about";
@import "./projects";
@import "./footer";