@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #121F28;
  font-family: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, label, a {
  color: #fff;
}

::-moz-selection {
  color: #fff;
  background: #FF715B;
}

::selection {
  color: #fff;
  background: #FF715B;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #121F28;
  z-index: 100;
}
header .header-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
header .header-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
header .header-container ul a {
  display: inline-block;
  padding: 30px 15px;
  text-decoration: none;
  transition: 300ms;
}
header .header-container ul a:hover {
  color: #FF715B;
}
header .header-container .navbar-toggler {
  display: none;
  padding: 0;
  border: 0;
  background: transparent;
  color: #fff;
}
@media screen and (max-width: 992px) {
  header .header-container {
    width: 100%;
    flex-direction: row-reverse;
    padding: 10px;
  }
  header .header-container .logo h2 {
    font-size: 20px;
  }
  header .header-container ul {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    z-index: 100;
    background: #121F28;
    height: 100vh;
    padding-top: 40px;
  }
  header .header-container ul.show {
    left: 0 !important;
  }
  header .header-container ul a {
    padding: 15px;
    font-size: 20px;
    color: #fff;
  }
  header .header-container .navbar-toggler {
    display: flex;
    z-index: 200;
  }
}

.hero {
  margin-top: 81.6px;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.hero .greeting {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .greeting h1 {
  font-size: 40px;
  font-weight: 500;
}
.hero .greeting h1 span.dot {
  color: #FF715B;
  font-size: 60px;
  margin-left: 5px;
}
.hero .greeting h1 span.name {
  margin-left: 50px;
  font-size: 34px;
  position: relative;
}
.hero .greeting h1 span.name::before {
  content: "";
  position: absolute;
  right: 110%;
  bottom: 14px;
  display: inline-block;
  width: 500px;
  height: 3px;
  background: #FF715B;
}
.hero .greeting h1 .position::before {
  content: "<";
  color: #FF715B;
  margin-right: 5px;
}
.hero .greeting h1 .position::after {
  content: "/>";
  color: #FF715B;
  margin-left: 5px;
}
.hero .greeting .buttons {
  margin-top: 40px;
}
.hero .greeting .buttons a {
  text-decoration: none;
  display: inline-flex;
  gap: 10px;
  padding: 15px 36px;
  border: 2px solid #FF715B;
  font-size: 18px;
  transition: 300ms;
}
.hero .greeting .buttons a:hover {
  background: #FF715B;
  color: #000;
}
.hero .photo {
  width: 50%;
  display: flex;
}
.hero .photo img {
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    width: 100%;
  }
  .hero .greeting {
    width: 100%;
    text-align: center;
  }
  .hero .greeting h1 {
    font-size: 30px !important;
  }
  .hero .greeting h1 span.name {
    margin: 0 !important;
    z-index: -100;
  }
  .hero .greeting h1 span.name::before {
    display: none !important;
  }
  .hero .greeting .buttons {
    margin-top: 10px;
  }
  .hero .photo {
    width: 100%;
    margin-top: 20px;
  }
}

.skills {
  background: #16232c;
}
.skills .skills-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.skills .skills-container .skills-divider {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.skills .skills-container .skills-divider .skill {
  font-size: 26px;
  padding: 20px;
  color: #444f58;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .skills .skills-container {
    flex-direction: column;
    width: 90%;
  }
  .skills .skills-container .skills-divider {
    justify-content: space-between !important;
    width: 100% !important;
  }
  .skills .skills-container .skills-divider .skill {
    font-size: initial !important;
  }
}

.about .about-container {
  width: 80%;
  margin: auto;
  padding: 50px 0px;
  display: flex;
}
.about .about-container .left {
  width: 50%;
}
.about .about-container .left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about .about-container .left ul li {
  display: flex;
  gap: 20px;
  border-left: 3px solid #FF715B;
  padding: 20px 40px;
  padding-right: 0;
  position: relative;
  margin-bottom: 40px;
}
.about .about-container .left ul li::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #FF715B;
  border-radius: 50%;
  position: absolute;
  bottom: -24px;
  left: -5px;
}
.about .about-container .left ul li:last-child::after {
  display: none;
}
.about .about-container .left ul li svg {
  width: 50px;
  fill: #FF715B;
}
.about .about-container .right {
  width: 50%;
}
.about .about-container .right h2 {
  margin-top: 0;
  font-size: 34px;
  font-weight: 600;
}
.about .about-container .right p {
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 40px;
}
.about .about-container .right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.about .about-container .right ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: 300ms;
  font-weight: 300;
  font-size: 14px;
}
.about .about-container .right ul li a:hover {
  color: #FF715B;
}
.about .about-container .right ul li a svg {
  width: 40px;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .about .about-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about .about-container .left {
    width: 100%;
  }
  .about .about-container .left ul {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .about .about-container .left li {
    border-left: 0 !important;
    padding: 20px 0px !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0 !important;
  }
  .about .about-container .left li::after {
    display: none !important;
  }
  .about .about-container .right {
    width: 90%;
  }
  .about .about-container .right h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .about .about-container .right ul {
    justify-content: center;
  }
}

.projects .projects-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}
.projects .projects-container .section-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.projects .projects-container .section-label .line {
  width: 200px;
  display: inline-block;
  height: 3px;
  width: 120px;
  background: #FF715B;
}
.projects .projects-container .section-label h2 {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}
.projects .projects-container .project {
  display: flex;
  margin-bottom: 50px;
  padding: 20px 0px;
}
.projects .projects-container .project:nth-child(even) {
  flex-direction: row-reverse;
}
.projects .projects-container .project:nth-child(even) .photos {
  padding-right: 50px;
  padding-left: 0;
}
.projects .projects-container .project .description {
  width: 50%;
}
.projects .projects-container .project .description h3 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 0;
}
.projects .projects-container .project .description .technologies {
  margin: 0;
  padding: 10px 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects .projects-container .project .description .technologies li {
  background: #16232c;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 25px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 300ms;
}
.projects .projects-container .project .description .technologies li:hover {
  color: #000;
  background: #FF715B;
}
.projects .projects-container .project .description p {
  font-weight: 100;
  margin: 30px 0px;
}
.projects .projects-container .project .description .actions .visit {
  text-decoration: none;
  display: inline-flex;
  gap: 10px;
  padding: 11.6666666667px 28px;
  border: 2px solid #FF715B;
  font-size: 14px;
  transition: 300ms;
}
.projects .projects-container .project .description .actions .visit:hover {
  background: #FF715B;
  color: #000;
}
.projects .projects-container .project .description .actions .view-code {
  margin-left: 15px;
  font-size: 14px;
  text-decoration: none;
}
.projects .projects-container .project .description .actions .view-code:hover {
  text-decoration: underline;
}
.projects .projects-container .project .photos {
  width: 50%;
  padding-left: 50px;
}
.projects .projects-container .project .photos .main-carousel .flickity-button {
  background: transparent;
  border-radius: 0;
  height: 100%;
  color: #fff;
  mix-blend-mode: difference;
  opacity: 0.5;
  text-shadow: 0px 0px 20px #343434;
}
.projects .projects-container .project .photos img {
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  .projects .projects-container {
    width: 90%;
  }
  .projects .projects-container .project {
    flex-direction: column !important;
    text-align: center;
    margin-bottom: 70px;
  }
  .projects .projects-container .project .description {
    width: 100%;
  }
  .projects .projects-container .project .description .technologies {
    padding: 20px 0px;
  }
  .projects .projects-container .project .description .actions {
    padding: 40px 0px;
  }
  .projects .projects-container .project .photos {
    width: 100%;
    padding: 0 !important;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0d161d;
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 100;
}
footer p span {
  color: #FF715B;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}
footer ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: 300ms;
}
footer ul a:hover {
  color: #FF715B;
}
footer ul a svg {
  height: 32px;
  margin-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */